@import url(main.css);
@import url(normalize.css);
/*@import url(outline.css);*/


@font-face {
  font-family: "Roboto";
  src:
  url("../fonts/roboto-light-webfont.woff2") format("woff2"),
  url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/*HEADER*/
.header a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
}

.search-svg {
  width: 20px;
  height: 20px;
}

.basket-svg {
  width: 20px;
  height: 20px;
}

.burger-menu-svg {
  width: 20px;
  height: 20px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .header {
    padding: 15px 20px;
  }

  .header__left {
    display: none;
  }

  .header__right {
    display: none;
  }

  .header__mobile-box {
    display: flex;
  }

  .header__logo {
    padding: 0 12.5px;
  }

  .header__logo-img {
    width: 100%;
    max-width: 370px;
    height: auto;
  }

  .mobile-box__search-svg {
    padding: 0 12.5px;
  }

  .mobile-box__basket-svg {
    padding: 0 12.5px;
  }

  .header__burger-menu {
    padding: 0 12.5px;
  }



  .menu__list {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    line-height: 1.5;
    justify-content: flex-start;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .menu__item {
    margin-right: 30px;
  }
}


/*-------------------------------------------------------------------*/

.main__bg {
  background-image: url("../img/main_img.jpg");
  background-size: cover;
  background-position: center;
  min-height: 880px;
}


