

.header a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.header {
    padding: 12px 65px;
}

.header__left {
    padding: 0 45px;
}

.header__right {
    padding: 0 45px;
}

.header__logo {
    padding: 0 45px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -45px;
}

.header__mobile-box {
    display: none;
}

.header__burger {
    display: none;
}

.menu {
    display:flex;
    align-items: center;
}

.right__menu-desktop .menu__list {
    text-align: end;
}

.header__logo-link {
    display: inline-block;
    max-width: 370px;
}

.header__logo img {
    width: auto;
    max-width: 100%;
}


.header__icon {
    width: 20px;
    height: 20px;
}

.header__icon-link {
    padding: 0 12.5px;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5;
}

.vertical-menu .menu__list .menu__item {
    display:block;
}

.menu__item {
    display: inline-block;
    margin: 5px 14.5px;
    letter-spacing: var(--menu__menu-letter-spacing);
    color: var(--menu__menu-color);
    text-transform: uppercase;
}

.menu__item a{
    display: inline-block;
    transition: .5s linear;
}

.menu__item a:hover {
    color: grey;
    transform: scale(1.1, 1.1);
}


.header-alternative {
    display: none;
}

/*Правильно?*/
.header-alternative.active {
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 18px 65px;
    width: 100%;
}

.header-alternative__body {
    position: relative;
}

.header-alternative__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 0;*/
    /*right: 0;*/
    /*text-align: center;*/
}

.header-alternative__menu .menu__list .menu__item {
    margin-right: 5px;
}
.header-alternative__actions {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.header__burger {
    display: none;
}

.opened-burger-menu {
    display: none;
}



@media screen and (max-width: 1024px) {
    .header {
        padding: 12px 40px;
    }

    .header__left {
        display: none;
    }
    .header__right {
        display: none;
    }

    .header__container {
        margin: 0;
    }

    .header__logo {
        display: block;
        width: 100%;
        max-height: 170px;
        text-align: left;
        padding: 0 12.5px;
    }

    .header__mobile-box {
        display: flex;
    }

    /*BURGER-MENU*/
    .header__burger {
        display: block;
    }

    .header__burger.hidden {
        display: none;
    }

    .opened-burger-menu.active{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
        background-color: white;
        padding: 40px;
    }

    .opened-burger-menu__container {
    }

    .menu__top {
        position: relative;
        padding: 15px;
    }
    .menu__actions {
        text-align: center;
    }
    .menu__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }


    /*    */

}

@media screen and (max-width: 767px) {
    .header {
        padding: 15px 20px;
    }

    .opened-burger-menu.active {
        width: 100vw;
    }

    .menu__actions {
        display: none;
    }


}

